/* ================================
        HERO
================================ */
.about-hero {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

/* ================================
        STORY
================================ */
.story-section {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  text-align: center;
  padding: 60px 20px;
}

.story-section h2 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #fff;
}

.story-section p {
  max-width: 1100px;
  margin: auto;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.85;
  line-height: 1.6;
  color: #e1e1e1;
}

.story-image {
  width: 100%;
  height: 430px;
  margin-top: 35px;
}

/* ================================
    MISSION + VISION
================================ */
.mission-vision {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 25px;
  padding: 50px 20px 0;

}

.mv-card {
  width: 100%;
  padding: 35px;
  border: 1px solid #e1e1e1;
}
.mv-icon {
  padding-bottom: 15px;
}

.mv-icon i {
  font-size: 22px;
  color: #fff;             
  background-color: #000;   
  padding: 8px;             
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.mv-card h3 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 8px;
}

.mv-card p {
  font-size: 16px;
  opacity: 0.8;
  line-height: 1.5;
}

/* ================================
      CAPABILITIES
================================ */
.cap-section {
  /* max-width: 1300px; */
  margin: 60px auto 40px;
  padding: 20px;
 
}

.cap-header {
  /* display: flex; */
  justify-content: space-between;
  margin-bottom: 40px;
   text-align: center;
  align-items: center;
}

.cap-header h2 {
  font-size: 22px;
  font-weight: 900;
  width: 100%;
  padding-bottom: 20px;
}

.cap-header p {
  width: 100%;
  font-size: 16px;
  opacity: 0.8;
  line-height: 1.4;
}

/* Collage layout */
.cap-collage {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 12px;
}

/* Left big Image */
.cap-big {
  position: relative;
  height: 570px;
}

.cap-big img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right 4-grid */
.cap-right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.cap-small {
  position: relative;
  height: 278px;
}

.cap-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text over images */
.cap-big h3,
.cap-small h3 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}





/* ================================
      RESPONSIVE
================================ */

/* Tablet */
@media (max-width: 992px) {
  .cap-header {
    flex-direction: column;
    gap: 10px;
  }

  .cap-header h2,
  .cap-header p {
    width: 100%;
  }

  .mission-vision {
    flex-direction: column;
  }

  .cap-collage {
    grid-template-columns: 1fr;
  }

  .cap-big {
    height: 350px;
  }

  .cap-small {
    height: 200px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .cap-small {
    height: 170px;
  }

  .mv-card {
    padding: 25px;
  }

  .mv-card h3 {
    font-size: 20px;
  }
}

/* ================================
      METHODOLOGY
================================ */
.method-section {
  width: 100%;
  margin: auto;
  padding: 60px 20px;
  display: flex;
  gap: 100px;
  /* background: #e1e1e1; */
  justify-content: space-around;
  align-items: center;
}

.method-text {
  width: 50%;
  /* padding-top: 80px; */
}

.method-text h2 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 15px;
}

.method-text p {
  font-size: 16px;
  opacity: 0.85;
  line-height: 1.6;
}

.method-image img {
 width: 480px;
  height: 480px;
  align-items: end;
  padding-left: 40px;
}

/* Responsive */
@media (max-width: 992px) {
  .method-section {
    flex-direction: column;
  }

  .method-text,
  .method-image {
    width: 80%;
    padding-top: 20px;
    text-align: center;
    align-items: center;
  }
}

/* ================================
            VALUES
================================ */
.values-section {
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.values-left h2 {
  font-size: 22px;
  font-weight: 900;
}

.values-right p {
  font-size: 18px;
  /* max-width: 500px; */
  color: #666;
  margin-bottom: 30px;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.value-box {
  border: 1px solid #e5e5e5;
  padding: 25px;
  transition: 0.3s ease;
}

.value-box:hover {
  border-color: #000;
}

.value-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.value-box h5 {
  font-size: 14px;
  font-weight: 800;
}

.value-box p {
  font-size: 13px;
  line-height: 1.4;
  color: #444;
}
.value-texts{
  display: flex;
  justify-content: space-between;
}

/* Responsive */
@media (max-width: 992px) {
  .values-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .values-grid {
    grid-template-columns: 1fr;
  }

  .values-section {
    padding: 30px 20px;
  }
}

/* TEXT SIZE RESPONSIVE */

/* Tablet ↓ (992px) */
@media (max-width: 992px) {

  .cap-big h3,
  .cap-small h3 {
    font-size: 16px;
    /* smaller but readable */
  }
}

/* Mobile ↓ (576px) */
@media (max-width: 576px) {

  .cap-big h3,
  .cap-small h3 {
    font-size: 10px;
    /* mobile perfect */
    line-height: 1;


  }
.method-image img{
  padding-left: 0px;
}
.value-texts{
  display: block;
}

.values-left{
  font-size: 14px;
}


}