# =========================
# Dependencies
# =========================
node_modules/
.pnp/
.pnp.js

# =========================
# Environment variables
# =========================
.env
.env.*
.env.example

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# =========================
# Build / Production
# =========================
build/
dist/
.next/
out/

# =========================
# Testing
# =========================
coverage/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Uploads (optional)
# =========================
uploads/
