
.project-hero {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
}


.project-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 60px 20px;
}


.project-title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 40px;
}


.project-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 45px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background: #ebebeb;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}

.tab.active {
  background: black;
  color: white;
}

/* leptop// */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}


.project-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-4px);
}

.img-box {
  position: relative;
  width: 100%;
  height: 250px;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DOWNLOAD ICON */
.download-icon {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 42px;
  height: 42px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-icon i {
  font-size: 18px;
  color: black;
}


.project-content {
  padding: 18px;
}

.project-content h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.project-content p {
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.5;
}


.load-more {
  margin: 50px auto 0;
  display: block;
  padding: 12px 30px;
  background: white;
  border: 1px solid black;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .img-box {
    height: 300px;
  }
}


@media (max-width: 992px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .img-box {
    height: 220px;
  }
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr;
  }

  .img-box {
    height: 200px;
  }

  .project-title {
    font-size: 22px;
  }

  .project-content h3 {
    font-size: 15px;
  }

  .project-content p {
    font-size: 13px;
  }
}
