/* HERO */
.project-hero {
  width: 100%;
  height: 420px;
  background-size: cover;
  background-position: center;
}

/* WRAPPER */
.project-wrapper {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  padding: 50px 20px;
}

/* HEADING */
.project-title {
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 30px;
}

/* TABS */
.project-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}

.tab {
  padding: 10px 18px;
  border: none;
  background: #ebebeb;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}

.tab.active {
  background: black;
  color: white;
}

/* GRID */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

/* CARD */
.project-card {
  background: white;
  border-radius: 6px;
  overflow: hidden;
}

/* IMAGE BOX */
.img-box {
  position: relative;
  width: 100%;
  height: 230px;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.download-icon {
  position: absolute;
  right: 12px;
  width: 40px;
  bottom: 12px;
  background: white;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-icon i {
  font-size: 18px;
  color:black;
}

/* CARD CONTENT */
.project-content {
  padding: 15px;
}

.project-content h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}

.project-content p {
  font-size: 13px;
  opacity: 0.8;
  line-height: 1.4;
}

/* LOAD MORE BUTTON */
.load-more {
  margin: 40px auto 0;
  display: block;
  padding: 12px 28px;
  background: white;
  border: solid black 1px;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

/* RESPONSIVE — TABLET */
@media (max-width: 992px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* RESPONSIVE — MOBILE */
@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr;
  }

  .img-box {
    height: 200px;
  }

  .project-title {
    font-size: 22px;
  }
}
