/* HERO SECTION */
.service1-hero {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.hero-content p {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

/* GRID SECTION */
.service1-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
    flex-wrap: wrap;
}

/* IMAGE CARD */
.service1-card {
    
    width: 390px;
    height: 568px;
    position: relative;
    overflow: hidden;
}

.service1-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service1-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.40; /* 20% */
    z-index: 1;
}

/* TEXT ON IMAGE */
.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
     z-index: 2;
    text-shadow: 0px 4px 10px rgba(0,0,0,0.6);
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .hero-content h1 { font-size: 38px; }
    .hero-content p { font-size: 18px; }
}

@media (max-width: 768px) {
    .service1-card {
        width: 90%;
        height: auto;
    }

    .service1-card img {
        height: auto;
    }

    .card-text {
        font-size: 24px;
    }
}
