/* HERO */
.service1-hero {
  width: 100%;
  height: 420px;
  background-size: cover;
  background-position: center;
}

/* BLACK BOX */
.black-box {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px 20px 200px;
  position: relative;
  z-index: 1;
}

/* OVERLAP IMAGE */
.overlap-img-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -160px;
  position: relative;
  z-index: 5;
}

.overlap-img-box img {
  width: 95%;
  height: 380px;
}

/* TEXT */
.black-box h2 {
  font-size: 22px;
  font-weight: 900;
  margin-top: 20px;
  text-transform: uppercase;
}

.black-box p {
  font-size: 17px;
  max-width: 900px;
  margin: 10px auto;
  opacity: 0.9;
  line-height: 1.5;
}

/* FLEX SECTION */
.flex-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
  gap: 30px;
}

.flex-section h2 {
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  width: 183px;
}

.flex-section p {
  font-size: 20px;
  font-weight: 500;
  width: 670px;
}

/* ================ COLLAGE ================ */

.collage-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  /* left slightly bigger */
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.collage-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.collage-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.82);
  transition: .3s;
}

.collage-item:hover img {
  filter: brightness(1);
}

.collage-item h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 800;
  font-size: 23px;
  text-align: center;
  width: 90%;
}

/* LEFT BIG */
.item-1 {
  grid-row: span 2;
  width: 100%;
  margin: auto;
  height: 100%;
}

/* RIGHT SMALL */
.item-2,
.item-3 {
  width: 100%;
  height: 100%;
}

/* BOTTOM FULL */
.item-4 {
  grid-column: span 2;
  width: 100%;
  height: 100%;
}

/* ============= RESPONSIVE ============= */

@media (max-width: 992px) {
  .collage-wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 0 15px;
  }

  .item-1 {
    grid-row: auto;
    grid-column: span 2;
    height: 420px;
    width: 100%;
  }

  .item-4 {
    grid-column: span 2;
    height: 300px;
  }
}

@media (max-width: 576px) {
  .collage-wrapper {
    grid-template-columns: 1fr;
  }

  .item-1,
  .item-2,
  .item-3,
  .item-4 {
    grid-column: span 1;
    height: 260px;
  }

  .collage-item h2 {
    font-size: 18px;
  }
}
