/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(28.5px);
    -webkit-backdrop-filter: blur(28.5px);
    z-index: 1000;
}

/* RESET LINKS  */
.nav-link,
.dropdown-link,
.header-button a {
    text-decoration: none !important;
}

/* LOGO */
.cadmax {
    font-weight: 900;
    color: black;
    /* font-size: 30px; */

}

.cadmax img {
   height: 70px;
   width: 90%;
   object-fit: contain;
}
@media (max-width: 1024px) {
  .cadmax img {
    height: 60px;
    width: 80%;
  }
}


@media (max-width: 770px) {
  .cadmax img {
    height: 50px;
    width: 70%;
  }
}


@media (max-width: 480px) {
  .cadmax img {
    height: 45px;
    width: 65%;
  }
}

/* DESKTOP NAVBAR */
.navbar {
    display: flex !important;
    align-items: center;
    gap: 20px;
}

.nav-link {
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #171717 !important;
    padding: 14px 16px !important;
    cursor: pointer;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropbtn {
    font-size: 14px;
    font-weight: 700;
    border: none;
    background: transparent;
    color: #171717;
    padding: 14px 16px;
    cursor: pointer;
}

/* DESKTOP DROPDOWN PANEL */
.dropdown-content {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    font-size: 14px;
    min-width: 150px;
    background: rgba(255, 255, 255, 0.575);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.12);
    padding: 12px 0;
    flex-direction: column;
    gap: 3px;
}

.dropdown-link {
    padding: 6px 12px;
    width: 100%;
    display: block;
    color: black;
    font-weight: 500;
}

/* SHOW DROPDOWN */
.dropdown-content.show {
    display: flex !important;
}

/* BUTTON */
.header-button {
    background-color: #171717;
    padding: 15px 31px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.header-button a {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

/* HAMBURGER */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #171717;
    font-weight: bold;
}


/* MOBILE VIEW */
@media (max-width: 768px) {

    /* Header SAME */
    .header {
        justify-content: space-between;
        padding: 0 15px;
    }

    /* HAMBURGER SHOW */
    .menu-icon {
        display: block !important;
    }

    /* NAVBAR mobile default HIDDEN */
    .navbar {
        display: none !important;
        flex-direction: column;
        width: 100%;
        background: rgba(255, 255, 255, 0.95);
        /* Same look */
        position: absolute;
        top: 65px;
        left: 0;
        padding: 15px 20px;
        z-index: 999;
        text-align: left;
        gap: 5px;
    }

    /* When active show */
    .navbar.active {
        display: flex !important;
    }

    /* Each nav item */
    .nav-link {
        width: 100%;
        padding: 10px 0 !important;
        font-weight: 600;
        border-bottom: 1px solid #eee;
    }

    

    /* Dropdown wrapper */
    .dropdown {
        width: 100%;
    }

    .dropbtn {
        width: 100%;
        text-align: left;
        padding: 10px 0;
        font-weight: 600;
    }

    /* Dropdown items */
    .dropdown-content {
        margin-top: 7px;
        padding-left: 15px;
        text-align: left;
        gap: 3px;
    }

    .dropdown-link {
        padding: 8px 0;
    }
}

/* Hide button mobile & tablet */
@media (max-width: 1024px) {
    .header-button {
        display: none !important;
    }
}

.navbar,
.nav-link,
.dropdown,
.dropbtn,
.dropdown-content,
.dropdown-link {
    text-align: center;
}