.hero-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.hero-slider-box {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-center-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}

/* Mobile */
@media (max-width: 767px) {
  .hero-center-btn {
    display: block;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-center-btn {
    display: block;
  }
}


.hero-item {
  width: 100%;
  height: 85vh;
}

.hero-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Slick Dots */
.slick-dots {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}

/* Responsive */
@media (max-width: 992px) {
  .hero-slider-box,
  .hero-item {
    height: 75vh;
  }
}

@media (max-width: 768px) {
  .hero-slider-box,
  .hero-item {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .hero-slider-box,
  .hero-item {
    height: 50vh;
  }
}
