/* Outer BG */
.testimonial-bg {
  background: #fefcf5;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

/* Wrapper */
.testimonial-wrapper {
  width: 85%;
  margin: auto;
  overflow: visible !important;   /* IMPORTANT */
}

/* Heading */
.testimonial-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #222;
  text-transform: uppercase;
}

.testimonial-subtitle {
  text-align: center;
  color: #606060;
  font-size: 15px;
  margin-bottom: 45px;
}

/* Slide Spacing */
.swiper-slide {
  padding: 5px 0;
}

/* Card */
.testimonial-card {
  background: white;
  border-radius: 18px;
  padding: 26px 28px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
  height: 340px;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Message */
.testimonial-msg {
  text-align: justify;
/* text-justify: inter-word; */
hyphens: auto;

  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 5px;
  letter-spacing: normal;
  color: #333;
}

/* Client */
.testimonial-client {
  display: flex;
  align-items: center;
  gap: 12px;
}

.testimonial-client img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Name */
.client-name {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  color: #222;
}

/* Role */
.client-role {
  font-size: 13px;
  margin: 0;
  color: #6d6d6d;
}

/* Slider Parent */
.testimonial-slider-container {
  position: relative;
  overflow: visible !important;    /* VERY IMPORTANT */
}

/* Navigation Buttons */
.custom-prev,
.custom-next {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  background: #ffffff;
  color: #fca644;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  cursor: pointer;
}

/* Desktop Buttons */
.custom-prev {
  left: -55px !important;
}
.custom-next {
  right: -55px !important;
}

/* Icon size */
.custom-prev::after,
.custom-next::after {
  font-size: 18px;
  font-weight: bold;
}

/* Tablet (768px - 1100px) */
@media (max-width: 1100px) {
  .custom-prev {
    left: -25px;
  }
  .custom-next {
    right: -25px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .testimonial-wrapper {
    width: 85%;
  }

  .custom-prev {
    left: -25px !important;
  }
  .custom-next {
    right: -25px !important;
  }
}
