/* MAIN CONTAINER */
.testimonial {
  margin: 0;
  perspective-origin: 50% 50%;
  perspective: 100em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  counter-reset: bubble 0;
  overflow: hidden;
  background: rgb(0, 0, 0);
  min-height: 550px;
  flex-grow: 1;
  transform: translateX(0) translateY(0) !important;
}

/* 3D AREA */
.testimonial .testimonials {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  height: 100%;
  transform: translateZ(calc(var(--distance) * -1));
  transform-style: preserve-3d;
}

/* ------------ ARROWS -------------- */
.testimonial .arrow-left,
.testimonial .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  cursor: pointer;

  /* Inside spacing */
  margin: 0 20px;

  /* Glass blur */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.40);

  /* Shape */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255,255,255,0.5);
}

.testimonial .arrow-left { left: 20px; }
.testimonial .arrow-right { right: 20px; }

/* Arrow Icons */
.testimonial .arrow-left i,
.testimonial .arrow-right i {
  color: rgb(255, 255, 255) !important;
  font-size: 20px;
  font-weight: bold;
}

/* ------------ NAV DOTS ------------ */
.testimonial .navigation {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3px;
  cursor: pointer;
}

.testimonial .navigation .nav-dot {
  padding: 3px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #fff;
  border-radius: 50%;
}

.testimonial .navigation .focused {
  background: #fff;
}


/* ----------- CHAT BUBBLE ----------- */
.chat-bubble {
  padding: 40px 2em;
  width: 380px;
  height: 380px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 1em;
  position: absolute;
  transform: translateX(-50%) rotateY(var(--rotation)) translateZ(var(--distance));
  transition: filter 0.4s ease;
  pointer-events: none;
  filter: blur(3px);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  will-change: filter, transform;
}

.chat-bubble.focused {
  filter: blur(0px) !important;
  pointer-events: auto;
  z-index: 10;
}

.chat-bubble i {
  font-size: 30px;
  color: #aaa;
  margin-bottom: 0.5em;
}

/* -------- PERSON -------- */
.chat-bubble .person {
  display: grid;
  grid-template: auto auto/auto 1fr;
  grid-column-gap: 0.4em;
  margin-top: 1em;
}

.chat-bubble .person .img {
  grid-row: 1/-1;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.chat-bubble .person .name {
  font-weight: bold;
  font-size: 14px;
}

.chat-bubble .person .role {
  align-self: start;
}

/* Stars */
.stars {
  margin: 6px 0;
  display: flex;
  justify-content: center;
}

.person .stars i {
  color: #FFD700 !important;

}
.person .stars i {
  color: #FFD700 !important;
 
}

.chat-bubble .person .star i {
  font-size: 18px;
  color: #FFD700 !important;
  -webkit-text-fill-color: #FFD700 !important;
  fill: #FFD700 !important;
}



/* ---- CONTENT ---- */
.chat-bubble .content {
  white-space: pre-wrap;
  position: relative;
  max-height: 175px;
  padding: 5px 0;
  overflow-y: auto;
}

/* POINTER */
.chat-bubble::after {
  content: "";
  position: absolute;
  top: calc(100% - 1px);
  left: 5%;
  width: 25px;
  height: 15px;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-color: inherit;
}


/* ---------- TITLE BOX ---------- */
.center-box {
  width: 100%;
  padding-top: 30px;
  height: auto;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.center-box h1 {
  color: white;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.center-box p {
  color: #ddd;
  font-size: 18px;
  font-weight: 500;
}
