.footer {
  background: #000112;
  color: #fff;
  padding: 40px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 127px;
  height: auto;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.social-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icon:hover {
  opacity: 0.7;
}

.footer-line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 25px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 16px;
  letter-spacing: 1px;
}

.footer-links p {
  margin: 0;
  cursor: pointer;
}

.footer-links p:hover {
  opacity: 0.6;
}
.copyright  {
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
  margin-top: 10px;
}